<!-- 
footer.ejs
* Project
*
* Revision History
* John Cristopher Danez, 2022.11.29: Created -->



        <footer>
            <h3> &copy; Copyright Conestoga College</h3>
        </footer>
  </body>
  </html>