<!-- 
header.ejs
* Project
*
* Revision History
* John Cristopher Danez, 2022.11.29: Created -->



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Saklolo</title>
  <link rel="stylesheet" href="/css/newrequest.css">