<!-- 
logobar.ejs
* Project
*
* Revision History
* John Cristopher Danez, 2022.11.29: Created -->



</head>
<body>

<header>
    <div class="logo">
      <img src="" alt="">
    </div>
  
    <h3 class="tagline">Saklolo</h3>
</header>