<!-- 
navlogin.ejs
* Project
*
* Revision History
* John Cristopher Danez, 2022.11.29: Created -->


<nav>
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
</nav>