<!-- 
editsuccess.ejs
* Project
*
* Revision History
* John Cristopher Danez, 2022.11.29: Created -->


<%- include('includes/header.ejs') %>
  <link rel="stylesheet" href="/css/success.css">

  <%- include('includes/logobar.ejs') %>
<%- include('includes/navlogout.ejs') %>

<main>
    <h1>Thank you</h1>
    <h3>Your request has been successfully edited.</h3>

</main>


<%- include('includes/footer.ejs') %>